// 动画
@import './animation.scss';

// 登录样式
@import './login.scss';

// 引入 bootstrap
@import './bootstrap.scss';

// Layout 样式
@import './media.scss';

// sidebar 样式
@import './sidebar.scss';

// top 样式
@import './top.scss';

// tags 样式
@import './tags.scss';

body {
    margin: 0;
    padding: 0;
}

.font-size-xs {
    font-size: 10px;
}

.font-size-sm {
    font-size: 12px;
}

.font-size-base {
    font-size: 14px;
}

.font-size-md {
    font-size: 16px;
}

.font-size-lg {
    font-size: 18px;
}

.font-size-xl {
    font-size: 20px;
}
